[Desktop Entry]
Name=EU_flag
X-KDE-PluginInfo-Author=Aitor Astorga Saez de Vicuña
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=a.astorga.sdv@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=EU_flag
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://garudalinux.org
X-KDE-ServiceTypes=Plasma/LookAndFeel
